* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


form {
    background-color: rgb(197, 197, 232);
    height: 30em;
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding: 3em;
    border-radius: 10px;
    gap: 25px;
    box-shadow: 0 0 10px rgb(184, 180, 180);
    outline: 2px solid rgb(194, 183, 183);
}


.field {
    height: 2.3em;
    border-radius: 4px;
    font-size: 30px;
    border: none;
    padding: 5px;
}

button {
    height: 45px;
    border-radius: 4px;
    border: none;
    box-sizing: 0 0 10px black;
    border: 2px solid rgb(164, 181, 165);
}

button:active {
    outline: 2px solid black;
}

button:hover {
    cursor: pointer;
}